@charset "UTF-8";

.blackout {
    background: rgba(42,42,53,0.8); /*rgba(map-get($colors, "bb"), 0.6);*/ /*rgba(42,42,53,0.8);*/
    /*background-image: url(../img/blackout.png);*/ /*img для кроссбраузерности, браузеры не поддерживающие rgba*/
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}
