<!DOCTYPE html>
<html lang="ru">

<head profile="http://www.w3.org/2005/10/profile">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Мастер-класс «Развитие отношений с женщинами. Контурная система принятия решений у женщин» в Минске</title>

    <meta name="description" content="" />
    <meta name="keywords" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, target-densitydpi=device-dpi, user-scalable=no" />
    <meta name="author" content="Purouski Ilya" />

    <!--<link rel="icon" type="image/vnd.microsoft.icon" href="img/favicon.ico">
    <link rel="icon" type="image/png" href="img/favicon.png">
    <link rel="icon" type="image/gif" href="img/favicon.gif">-->

    <!--<meta name="robots" content="noindex,nofollow,noodp,noarchive,nosnippet" />-->

    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--[if gte IE 9]
        <style type="text/css">
            .gradient {
                filter: none;
            }
        </style>
    <![endif]-->

    <!-- build:css css/vendor.css -->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Font-Awesome v4.6.3 CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous" />

    <!-- FancyBox -->
    <!--<link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css">-->

    <!-- bower:css -->
    <!-- endbower -->

    <!-- endbuild -->

    <!-- build:css css/main.css -->
    <link rel="stylesheet" type="text/css" href="assets/css/main.css?v=1.0.4" />
    <!-- endbuild -->

    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

</head>

<body lang="ru">
