@charset "UTF-8";

$base-white             : rgb(255, 255, 255); /*base of white*/
$base-black             : rgb(0, 0, 0);       /*base for lighen*/

// ------------------------------- //

/*Red*/
$color-PersianPink      : rgb(251, 125, 181); /*#fb7db5*/ /*soc*/
$color-RoofTerracotta   : rgb(169, 68, 66);   /*#a94442*/ /*! error */

/*Green*/
$color-LightSeaGreen    : rgb(29, 183, 156);  /*#1DB79C*/ /**/
$color-JapaneseLaurel   : rgb(60, 118, 61);   /*#3c763d*/ /*! success */

/*Blue*/
$color-iris_blue        : rgb(0,170,215);     /*#00AAD7 | web safe #0099cc */ /*! primary */
$color-bondi_blue       : rgb(0, 150, 190);   /* #0096be */ /*! primary */
$color-cerulean         : rgb(0, 23, 35);     /* #001723 */ /*! primary */

$color-PacificBlue      : rgb(0, 136, 203);   /*#0088CB*/ /*! blackout */
$color-Denim            : rgb(24, 125, 189);  /*#187DBD*/ /*soc*/
$color-Astral           : rgb(59, 110, 139);  /*#3B6E8B*/ /**/

/*Blue-green*/
$color-DarkTurquoise    : rgb(30, 208, 214);  /*#1ed0d6*/ /*soc*/

/*Yellow*/
$color-SchoolBusYellow  : rgb(255, 216, 0);   /*#ffd800*/ /**/
$color-Gorse            : rgb(255, 221, 50);  /*#FFDD32*/

/*Gray*/ /*! secondary */
$color-VeryLightGrey    : rgb(204, 204, 204); /*#CCCCCC*/ /*lighten($color,80%)*/
$color-DimGray          : rgb(102, 102, 102); /*#666666*/ /*lighten($color,40%)*/
$color-NightRider       : rgb(51, 51, 51);    /*#333333*/ /*lighten($color,20%)*/

// ------------------------------- //

$brand-primary-yellow   : $color-SchoolBusYellow;
$brand-primary-green    : $color-LightSeaGreen;
$brand-primary-blue1    : $color-iris_blue;
$brand-primary-blue2    : $color-bondi_blue;
$brand-primary-blue3    : $color-cerulean;

$brand-secondary-dark   : $color-NightRider;
$brand-secondary-normal : $color-DimGray;
$brand-secondary-light  : $color-VeryLightGrey;

// --------- //


$brand-primary1         : $brand-primary-blue1;
$brand-primary2         : $brand-primary-blue2;
$brand-primary3         : $brand-primary-blue3;

$brand-secondary1       : $brand-secondary-dark;
$brand-secondary2       : $brand-secondary-normal;
$brand-secondary3       : $brand-secondary-light;

$brand-blackout         : $color-PacificBlue;

$error                  : $color-RoofTerracotta;
$success                : $color-JapaneseLaurel;

$other1                 : $color-PersianPink;
$other2                 : $color-Denim;
$other3                 : $color-DarkTurquoise;
