@charset "UTF-8";

#modalOrder {

    .modal {

        &-content {
            padding: 30px 50px 50px;

            @media only screen and (max-width: 479px) {
                padding: 15px 25px 25px;
            }
        }

        &-header {
            border-bottom: none;

            .close {
                font-size: 3em;
                font-weight: 100;
            }

            .modal-title {
                color: map-get($colors, "bs1");
                font-size: 1.71428571em;
            }
        }

        &-body {

            .btn {

                &-main {
                    /*background-color: rgba(map-get($colors, "bp1"), 0.5);*/
                    /*color: map-get($colors, "bs1");*/
                    /*min-width: 100%;*/

                    &:hover {
                        /*background-color: map-get($colors, "bp1");*/
                        /*color: map-get($colors, "b_w");*/
                    }
                }
            }
        }

        &-footer {
            border-top: none;
        }
    }
}
