<section id="clubOrganizer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="title">
                    <h2>Ведущий</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="visual">
                    <img src="assets/img/clubOrganizer/visual.jpg" alt="Разбор ниши. БМ" class="img-responsive" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="about">
                    <h4>Кирилл Шмицер, Минск, 26 лет.</h4>

                    <ul>
                        <li>Основатель школы по развитию личности и отношениям. С 2009 года выпускники сыграли 36 свадеб.</li>
                        <li>Ведущий и эксперт по бизнесу в ДомБМ Минск. Проект "Жесткий разбор Вашего бизнеса от сообщества БМ Минск".</li>
                        <li>Осенью 2015 года был куратором в сообществе БМ Минск, где за месяц привел участника к результату с 0 до +1563$ чистыми, ниша: оперативное вскрытие замков.</li>
                        <li>Основатель маркетингового агенства. (Работа с рекламным бюджетом от 75 млн. руб).</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                    <button type="button" class="btn btn-main" data-toggle="modal" data-target="#modalOrder" data-service="[ведущий]" role="button">Посетить</button>
                </div>
            </div>
        </div>
    </div>
</section>
