<footer id="footer" role="contentinfo">

    <div class="blackout"></div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="left">
                    <p>УНП 191745158</p>
                    <p>
                        Адрес Проспект партизанский 2/1
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="right">
                    <p>
                        <a href="tel:+375296377311">+375 (29) 637-73-11</a>
                    </p>
                    <p>
                        <button type="button" class="btn btn-main" data-toggle="modal" data-target="#modalOrder" data-service="[Подвал] - Оставить заявку" role="button">Оставить заявку</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
