<header id="header" class="bg-cover">

    <div class="blackout"></div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="logo">
                    <img src="assets/img/logo.jpg" alt="Логотип" />
                    <h5>
                        Развитие мужской <br />
                        личности в Минске
                    </h5>
                </div>

                <div class="phones">
                    <h4>Контакты</h4>
                    <p>
                        <a href="tel:+375296377311"><span>+375 </span>(29) 637-73-11</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-11 col-lg-9">
                <h1>
                    Посетить мастер-класс «Развитие отношений с женщинами. Контурная система принятия решений у женщин» в Минске 14 июля в 19.00.
                    <small>Стоимость <span class="through">100.000</span> 50.000.</small>
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <p>Для посещения мастер-класса необходимо заполнить форму</p>
                <div id="placeInHeader">
                    //= ../modules/forms/formOrder.html
                </div>
            </div>
        </div>
    </div>

</header>
