@charset "UTF-8";

.form-group {
    /*position: relative;*/

    &.has-feedback {
        /*position: static;*/
    }

    &-main {

    }

    .form-control {

        &-main {
            border: 1px solid rgba(map-get($colors, "bs1"), 0.6);
            border-radius: 0;
            box-shadow: inset 2px 2px 6px rgba(map-get($colors, "b_b"), .11);
            color: map-get($colors, "bs1");
            /*display: inline-block;*/
            height: auto;
            margin-bottom: 28px;
            padding: 9px 20px 9px;
            transition: all .3s ease;

            &:focus {
                @extend %outline_boxShadow_none;
                box-shadow: inset 0 1px 1px rgba(map-get($colors, "b_b"), .075),
                            0 0 8px rgba(map-get($colors, "b_b"), .5);
            }
        }
    }

    .form-control-feedback {
        top: 3px !important;

        &-icon, &-message-error, &-message-success {
            /*display: none;*/
            opacity: 0;
            position: absolute;
            transition: all .3s ease;
        }

        &-message-error, &-message-success {
            bottom: -24px;
            right: 7px;
        }

        &-message-error {
            color: map-get($colors, "err");
        }

        &-message-success {
            background: map-get($colors, "b_w");
            bottom: -1px;
            color: map-get($colors, "suc");
            display: none;
            font-size: 1.8em;
            left: -5px;
            line-height: 1.2em;
            opacity: 1;
            right: -5px;
            top: -1px;
            z-index: 999;

            @media only screen and (max-width: 479px) {
                font-size: 1.6em;
            }

            /*background: map-get($colors, "b_w");
            bottom: -100px;
            display: none;
            font-size: 2em;
            line-height: 1.2em;
            padding: 40px 20px;
            right: 0px;
            z-index: 99;*/

            /*@media only screen and (min-width: 566px) and (max-width: 767px) {
                bottom: -80px;
            }

            @media only screen and (min-width: 525px) and (max-width: 565px) {
                bottom: -90px;
            }

            @media only screen and (min-width: 497px) and (max-width: 526px) {
                bottom: -130px;
            }

            @media only screen and (min-width: 496px) and (max-width: 566px) {
                padding: 40px 0px;
            }

            @media only screen and (min-width: 480px) and (max-width: 497px) {
                bottom: -130px;
                padding: 40px 0px;
            }

            @media only screen and (min-width: 435px) and (max-width: 476px) {
                bottom: -80px;
                font-size: 1.6em;
            }

            @media only screen and (min-width: 395px) and (max-width: 436px) {
                bottom: -90px;
                padding: 50px 20px;
                font-size: 1.5em;
            }

            @media only screen and (max-width: 396px) {
                font-size: 1.2em;
                right: 0px;
            }*/
        }
    }

    &.has {
        &-error {
            .form-control-feedback {

            }
        }

        &-success {
            .form-control-feedback {

            }
        }
    }
}
